{% extends 'app_1/formulario_template.html' %}

{% block content %}
<form action="{%url 'submit' %}" method="POST">
    {% csrf_token %}
    <div><p>''</p></div>
    <div class="row">

        <div class="new_ppl d-flex container">
            <fieldset>
                <legend><strong>Datos Basicos Del Representante: </strong></legend>
                <div class="row g-3">
                    <div class="col">
                        <div class="form-floating mb-3">
                            {{form1.as_p}}
                            <legend><strong>Datos Basicos De la Empresa: </strong></legend>
                            {{form2.as_p}}
                        </div>
                    </div>
                </div>
                <p>
                    <button type="submit" class="btn btn-primary btn-lg">Entrar</button>
                </p>
            </fieldset>
        </div>

    </div>
</form >
{% endblock %}
