<!DOCTYPE html>
{% load static %}
<html>
    <head>
        <meta charset="UTF-8" content="width=device-width, initial-scale=1">
        <title>formulario</title>
        <link rel="stylesheet" href="{% static 'css/style.css' %}" alt="style"> 
        <link rel="stylesheet" href="{% static 'css/head_logo.css' %}" alt="head_logo">
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-BmbxuPwQa2lc/FVzBcNJ7UAyJxM6wuqIj61tLrc4wSX0szH/Ev+nYRRuWlolflfl" crossorigin="anonymous">
    </head>
    <body>
        <div class="upperlogo" style="position: absolute; top: 0px">
            <p>
                <img src="{% static 'photos/logo_vehice_1.jpg' %}" alt='logo'>
            </p>
        </div>
        <form method="post" class="need validation">
            <div><p>''</p></div>
            <div class="row"></div>
                <div class="new_ppl d-flex container">
                    <fieldset>
                        <legend><strong>Datos Basicos Del Reperesentante: </strong></legend>
                        <p>
                            <div class="row g-3">
                                <div class="col">
                                    <div class="form-floating mb-1">
                                        <!--nombres-->
                                        {{form.nombre}}
                                        <!--<input type="text" class="form-control has error" id="name_ppl_new" placeholder="nombre" required>-->
                                        <label for="{{form1.nombre.id_for_label}}">Nombre</label>
                                    </div>
                                </div>
                                <div class="col">
                                    <div class="form-floating mb-1">
                                        <!--apellido-->
                                        {{form.apellido}}
                                        <!--<input type="text" class="form-control" id="lastname_ppl_new" placeholder="apellido" >-->
                                        <label for="{{form1.apellido.id_for_label}}">Apellido</label>
                                    </div>
                                </div>
                              </div>
                        </p>
                        <p>
                            <div class="form-floating mb-3">
                                <!--empresa-->
                                <input type="text" name="enpr_ppl" id="enpr_ppl_new" class="form-control" placeholder="empresa">
                                <label for="enpr_ppl_new">Nombre De La Empresa </label>
                            </div>
                        </p>
                        <p>
                            <div class="form-floating mb-3">
                                <!--rut-->
                                <input type="text" name="rut_enp" id="rut_enp_new" class="form-control" placeholder="Rut"">
                                <label for="rut_enp_new">Rut Empresa</label>
                            </div>
                        </p>
                        <p>
                            <div class="form-floating mb-3">
                                <!--centro-->
                                <input type="text" name="place_ppl" id="place_ppl_new" class="form-control" placeholder="centros">
                                <label for="place_ppl_new">Centro</label>
                            </div>
                        </p>
                        <p>
                            <div class="form-floating mb-3">
                                <!--centro-->
                                <input type="text" name="place_dir" id="place_dir_new" class="form-control" placeholder="centros">
                                <label for="place_dir_new">ciudad Centro</label>
                            </div>
                        </p>
                        <p>
                            <div class="form-floating mb-3">
                                <!--email-->
                                <input type="text" name="email_ppl" id="email_ppl_new" class="form-control" placeholder="email"> 
                                <label for="email_ppl_new">Correo </label>
                            </div>
                        </p>
                        <p>
                            <div class="form-floating mb-3">
                                <!--telefono-->
                                <input type="text" name="tel_ppl" id="tel_ppl_new" class="form-control" placeholder="telefono">
                                <label for="tel_ppl_new">Telefono</label>
                            </div>
                        </p>
                        <p>
                            <label for="reg_ppl_new">Región</label>
                            <select class="form-select form-select-lg mb-3" aria-label=".form-select-lg example">
                                <option selected>Ingrese</option>
                                <option value="XV">XV Región de Arica y Parinacota</option>
                                <option value="I">I Región de Tarapacá</option>
                                <option value="II">II Región de Antofagasta</option>
                                <option value="III">III Región de Atacama</option>
                                <option value="IV">IV Región de Coquimbo</option>
                                <option value="V">V Región de Valparaíso</option>
                                <option value="RM">Región Metropolitana de Santiago</option>
                                <option value="VI">VI Región del Libertador General Bernardo O'Higgins</option>
                                <option value="VII">VII Región del Maule</option>
                                <option value="XVI">XVI Región del Ñuble</option>
                                <option value="VIII">VIII Región del Biobío</option>
                                <option value="IX">IX Región de La Araucania</option>
                                <option value="XIV">XIV Región de Los Ríos</option>
                                <option value="X">X Región de Los Lagos</option>
                                <option value="XI">XI Región de Aysén del General Carlos Ibáñez del Campo</option>
                                <option value="XII">XII Región de Magallanes y la Antártica Chilena</option>
                            </select>
                        </p>
                        <p>
                            <label for="ref_ppl_new">Oprima aca si desea agregar las cantidades: </label>
                            <input type="checkbox" name="ref_ppl" id="ref_ppl_new" class="form-check">
                        </p>
                        <p>
                            <button type="submit" class="btn btn-primary btn-lg">Entrar</button>
                        </p>
                    </fieldset>
                </div>
            </div>
        </form>
    </body>
</html>