{% extends 'app_1/formulario_template.html' %}
{% load static %}
{%block css%}
<link rel="stylesheet" href="{% static 'css/homestyle.css'%}"alt="home" >
{%endblock%}
{% block content %}
<div class="container d-flex">
    <div class="row vertical-center-row g-6">
        <div class="h-100 col align-items-center g-3">
            <div class="justify-content-center" style="width: 1000px">
                <a href="{% url 'submit' %}" class="btn btn-primary btn-lg"><strong>ingreso nuevo representante</strong></a>
                <a href="{% url 'servsubmit' %}" class="btn btn-primary btn-lg"><strong>ingreso nueva cotizacion</strong></a>
            </div>
        </div>
    </div>

</div>


{%endblock%}