{% extends 'app_1/formulario_template.html' %}
{% load staticfiles %}
{% block content %}
<div class="container" style="padding: 1rem;">
    <div class="card bordered" style="width: 1250px;">
        <div class="card-header">
            <h4 class="card-header">Servicios </h4>
        </div>
        <div class="card-body">
            <form action="{%url 'serv_submit' %}" method="post">
                {{form}}
                    <div class="form-check" style="padding: 1em;">
                        <p>
                            <label class="form-check-label" for="ref_ppl">Oprima aca si desea agregar las cantidades: </label>
                            <input type="checkbox" name="ref_ppl" id="ref_ppl_new" class="form-check-input">
                        </p>
                    </div>
                </form>
            <h5 class="card-text">Agregue el servicio</h5>
            <div class="container">
                <table id = "service-to-add"class="table table-bordered">
                    <thead>
                        <tr>
                            <th = scope="col">Service</th>
                            <th = scope="col">Description</th>
                            <th = scope="col">Cantidad</th>
                            <th = scope="col">UF</th>
                            <th = scope="col">imagen</th>
                            <th = scope="col">Opcion</th>
                        </tr>
                    </thead>
                    <tbody id="variable" class="services-row">
                        {%for serv in cot %}
                            <th><button data-sid="{{serv.id}}" class="btn btn-danger">eliminar</button></th>
                        {%endfor%}
                    </tbody>
                </table>  
                <div id="service-cont" class="container my-2">
                    <select id="service" name="selectService" data-live-search="true" class="form-select " aria-label="Default Select Example" style="width: 500px" placeholder="agregue">
                        {% for s in  serv %}
                            <option id="ser({{s.id}})" value="{{s}}">{{s.nombre}}</option>
                        {%endfor%}
                    </select>
                </div>
                <div class="container">
                    <div class="row">
                        <div class="col align-self-start">
                            <button id="add-service" type="button" class="btn btn-primary">Agregar Servicios</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    
    <div class= "container-fluid" style="padding: 1rem;">
        <div class="row " style="margin-left: auto" > 
            <div class="col d-md-flex justify-content-md-start">
                <a href="{% url 'home' %}" class="btn btn-primary me-md-2">Atras!</a>
              </div>
            <div class="col d-md-flex justify-content-md-end">
                <button id="next" class="btn btn-primary me-md-2" type="button">Enviar!</button>
              </div>
        </div>
    </div>
    <script src="{% static 'js/service.js' %} "></script>
    <!--<script>
        const servicio = {{serv|safe}};
        console.log(servicio);
        
     </script>-->
</div>
{%endblock%}
