{% extends 'app_1/formulario_template.html' %}
{% load static %}
{% block content %}
<div class="container" style="padding: 1rem;">
    <div class="card bordered" style="width: 1000px;">
        <div class="card-header">
            <h4 class="card-header">Servicios </h4>
        </div>
        <div class="card-body">
            <h5 class="card-text">Agregue el servicio</h5>
            <div class="container">
                <table id = "service-to-add"class="table table-bordered">
                    <thead>
                        <tr>
                            <th = scope="col">Service</th>
                            <th = scope="col">Description</th>
                            {%if checkbox %}
                                <th = scope="col">Cantidad</th>
                            {%endif%}
                            <th = scope="col">UF</th>
                            <th = scope="col">imagen</th>
                        </tr>
                    </thead>
                    <tbody id="variable" class="services-row">
                    </tbody>
                </table>  
                <div id="service-cont" class="container my-2">
                    <select id="service" data-live-search="true" class="form-select " aria-label="Default Select Example" style="width: 500px" placeholder="agregue">
                        <option id="0" value="service0" selected>Service 0</option>
                        <optgroup label="Score">
                            <option id="1" value="General Score">General Score</option>
                            <option id="2" value="Score Gill">Score Gill</option>
                        </optgroup>
                        <optgroup label="Special Histopatology">
                            <option id="3" value="Detección de FANs">Detección de FANs</option>
                        </optgroup>
                        <optgroup label="H&E Analysis">
                            <option id="4" value="H&E organo">H&E Órgano</option>
                            <option id="5" value="H&E Alevin">H&E Alevin</option>
                        </optgroup>
                    </select>
                </div>
                <div class="container">
                    <div class="row">
                        <div class="col align-self-start">
                            <button id="add-service" type="button" class="btn btn-primary">Add service</button>
                        </div>
                    </div>
                </div>
            </div>
            <div class="container">
            </div>
        </div>
    </div>
    {%if checkbox %}
        <script src="{% static 'js/test_1.js' %} "></script>
    {%else%}
        <script src="{% static 'js/test_2.js' %} "></script>
    {%endif%}
</div>
{%endblock%}