{% extends 'app_1/formulario_template.html' %}
{% load static %}
{% block content %}
<div class="container" style="padding: 1em;">
    <div class="row">
        <form method="POST" action="{%url 'test' %}" >
            <h4><strong>Seleccione Representante para la creación de la cotización:</strong></h4>
                <select id="repre" name="selectRepre" data-live-search="true" class="form-select " aria-label="Default Select Example" style="width: 500px" placeholder="agregue">
                  <option value="None" selected>//</option>
                  {% for r in  repre %}
                      <option  value="{{r.id}}"> {{r.nombre}} {{r.apellido}}</option>
                  {%endfor%}
              </select>
              
            <button id="btnRepre" type="button" class="btn btn-primary btn-lg btn-insert-data" >Crear cotización nueva</button>
            <div class="form-group">
                <div class="alert alert-success" id="alert_succsess" style="display: none;">

                </div>
                <div class="alert alert-danger" id="alert_danger" style="display: none;">

                </div>
            </div>
          </form>
      </div>
        <!--modal-->
        <div class="container" style="padding: 1em;">
          <button id="btnServicio" type="button" class="btn btn-primary btn-lg " data-toggle="modal" data-target="#dlgServicio" >nuevo servicio</button>
        </div>
    <div class="modal fade" id="dlgServicio" aria-labelledby="myLargeModalLabel">
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title">Agregar Servicios</h5>
            <button id="clsServicio" type="button" class="btn-close" data-dismiss="modal" data-target="#dlgServicio" aria-label="Close" style="padding: 1em;"></button>
          </div>
          <div class="modal-body">
            <div class="container">
              <table id = "servicetoadd" class="table table-bordered">
                <tr>
                  <th = scope="col">Servicio</th>
                  <th = scope="col">Descripcion</th>
                  <th = scope="col">Cantidad</th>
                  <th = scope="col">UF</th>
                  <th = scope="col">Opción</th>
                  
              </tr>
              </table>  

              <div id="service-cont" class="container my-2">
                  <select id="service" name="selectService" data-live-search="true" class="form-select " aria-label="Default Select Example" style="width: 425x" placeholder="agregue">
                      {% for s in  serv %}
                          <option value="{{s.id}}"> {{s.nombre}}</option>
                      {%endfor%}
                  </select>
                  <label for="servcount">Cantidad</label>
                  <input type="number" name="servcount" id="servcount" value="1"><br>
                  <label for="servprecio">valor nuevo:</label>
                  <input type="text" name="servprecio" id="servprecio"placeholder="opcional">
              </div>

              <div class="container">
                  <div class="row">
                      <div class="col align-self-start">
                          <button id="addService" type="button" class="btn btn-primary">Agregar Servicios</button>
                      </div>
                  </div>
              </div>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-primary">Guardar</button>
          </div>
        </div>
      </div>
    </div>
</div>
{%endblock%}
{%block js%}
<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.6/umd/popper.min.js" integrity="sha384-wHAiFfRlMFy6i5SRaxvfOCifBUQy1xHdJ/yoi7FRNXMRBu5WHdZYu1hA6ZOblgut" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/js/bootstrap.min.js" integrity="sha384-B0UglyR+jN6CkvvICOB2joaf5I4l3gm9GU6Hc1og6Ls7i6U/mkkaduKaBhlAXv9k" crossorigin="anonymous"></script>
<script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>

<script>
    $(document).ready(function() {
        var cotizacionid;
        var modal = new bootstrap.Modal(document.getElementById('dlgServicio'));
        $("#btnRepre").on("click", () => {
            var representante = $("#repre").val();
            $.ajax({
              url:'{% url "test" %}',
              type: 'POST',
              data:{id:representante}
            })
            .done((response)=>{
              if(response["error"]==false){
                $("#alert_danger").hide();
                $("#alert_succsess").text(response["ErrorMessage"]);
                $("#alert_succses").show();
                alert("wenisima");
              }
            })
            .fail((response)=>{
              if(response["error"]==true){
                $("#alert_succsess").hide();
                $("##alert_danger").text(response["ErrorMessage"]);
                $("##alert_danger").show();
              }
            })
        });
        $("#addService").on("click",() => {
          var Servicio = $("#service").val()
          var servcount = $("#servcount").val()
          var servprecio = $("#servprecio").val()
          $.ajax({
            url:'{% url "insertserv" %}',
            type:'POST',
            data:{idserv:Servicio,servcount:servcount,servprecio:servprecio},
          })
          .done( (response)=>{
            var htmltext = "<tr><td>"+response["nombre"]+"</td><td>"+response["descripcion"]+"</td><td>"+response["cantidad"]+"</td><td>"+response["precio"]+"</td><td class='btn-td-block'><button class='btn btn-block btn-delete btn-danger'>Eliminar</button></td></tr>";
            $("#servicetoadd").append(htmltext);
          })
        })
    });

</script>
{%endblock%}
