{% extends 'app_1/formulario_template.html' %}
{% load static %}
{% block content %}
<div class="container" style="padding: 1em;">
    <div class="row">
        <form method="POST" action="{%url 'test' %}" >
            {% csrf_token %}
            <h4><strong>Seleccione Representante para la creación de la cotización:</strong></h4>
                {{servcot.representante}}
            <button id="submit" type="button" class="btn btn-primary btn-lg " data-toggle="modal" data-target="#insert_servicio" >Crear cotización nueva</button>
            <div class="form-group">
                <div class="alert alert-success" id="alert_succsess" style="display: none;"></div>
                <div class="alert alert-danger" id="alert-danger" style="display: none;"></div>
            </div>
        </form>
    </div>
    
    <button id="btnServicio" type="button" class="btn btn-info btn-lg" data-toggle="modal" data-target="#dlgServicio">Open Modal</button>
    
    <div class="modal" tabindex="-1" id="dlgServicio">
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title">Modal title</h5>
            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
          </div>
          <div class="modal-body">
            <p>Modal body text goes here.</p>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
            <button type="button" class="btn btn-primary">Save changes</button>
          </div>
        </div>
      </div>
    </div>
      
</div>
{%endblock%}
{%block js%}
<script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
<script>
    $(document).ready(function() {
        var modal = new bootstrap.Modal(document.getElementById('dlgServicio'));
        $("#add-service").on("click", () => {
            var representante = $("#repre").val();
            alert(servicio);
        });
        $("#btnServicio").on("click", () => {
            modal.show()
        });
    });

</script>
{%endblock%}
